@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    justify-self: center;
    justify-items: center;
}

h1 {
    text-align: center;
}

div.player-input {
    width: 240px;

    display: flex;
    flex-direction: column;

    margin-bottom: 1em;
    gap: 6px;
}

div.play-screen {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    align-items: center;
}

div.player-one,
div.player-two {
    word-wrap: break-word;
    padding: 0.5em;
}

div#board {
    padding: 0 auto 0 auto;
    width: 240px;
    height: 240px;

    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

div.cell {
    margin: 0.2em;

    outline: 1px dashed black;
    opacity: 0.3;

    text-align: center;
    justify-items: center;
}

p.result {
    justify-self: center;
}